<section class="section">
  <div class="container">
    <nav class="nav">
      <div class="nav-left">
        <a class="nav-item" href="{{ .Site.BaseURL }}">
          <img class="hvr-buzz-out" src="/android-chrome-192x192.png" />
          <h1 class="title is-4">{{ .Site.Title }}</h1>
        </a>
      </div>
      <div class="nav-right">
        <nav class="nav-item level is-mobile">
          <div class="search"></div>
          {{- range $platform, $username := .Site.Params.social -}}
          {{- if $username -}}
            <a class="level-item" aria-label="{{ $platform }}" href='{{ print ( index $.Site.Data.theme.social.base $platform ) $username }}' target='_blank' rel='noopener'>
            <span class="icon">
              <i class>
                {{- partial "svg/icons" $platform -}}
              </i>
            </span>
          </a>
          {{- end -}}
          {{- end -}}
          <a href="http://strava.com/athletes/43905728" class="level-item" target="_blank">
            <img src="/strava.png" alt="Strava" />
          </a>
        </nav>
      </div>
    </nav>
  </div>
</section>
